<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<div class="container-fluid mt--7">
     <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <nav>
                    <input class="form-control" type="text" name="login" style="font-size: 17px; border-width: 3px;"
                        [(ngModel)]="username" (ngModelChange)="Search()" placeholder="Entrez un nom d'utilisateur pour rechercher">
                </nav>
                <br>
                <div class=" card-header">
                    <h4 class=" card-title">AGENTS</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter">
                            <thead class=" text-primary">
                                <tr>
                                    <th (click)="sort('username')">Nom d'utilisateur &nbsp;<i class="fa fa-sort"></i></th>
                                    <th (click)="sort('active')">Actif &nbsp;<i class="fa fa-sort"></i></th>
                                    <th (click)="sort('nom')">Nom Prénom &nbsp;<i class="fa fa-sort"></i></th>
                                    <th (click)="sort('tel')">Téléphone &nbsp;<i class="fa fa-sort"></i></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let a of listAgents | orderBy: key: reserve | paginate: {itemsPerPage: 4,currentPage:p}; '>
                                   <td>{{a.username}}</td>
                                    <td>
                                        <div *ngIf="a.active == true">
                                            <span class=" ni ni-check-bold" style="font-size:21px;color:rgb(41, 173, 43);"></span>
                                          </div>
                                          <div *ngIf="a.active == false">
                                            <span class=" ni ni-fat-remove" style="font-size:21px;color:rgb(249, 9, 9);"></span>
                                          </div>
                                    </td>
                                    <td>{{a.nom}} {{a.prenom}}</td>
                                    <td>{{a.tel}}</td>
                                    <td>
                                    </td>
                                    <td>
                                        <button (click)="fireUser(a.idLog)" type="button"
                                        class="btn btn-floating btn-sm btn-danger"><i class="fa fa-trash"></i> {{a.active==false?"Activer":"Désactiver"}} </button>
                                   
                                        <button [routerLink]="[a.username]" type="button" title="Modifier"
                                        class="btn btn-floating btn-sm bg-yellow"><i class="ni ni-settings-gear-65"></i> Modifier</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div> 